*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --bg-color: #1a1a1a; /* Initial background color */
    --fg-color: #fff; /* Initial foreground color */
    --light-bg-color: #fff;
    --light-fg-color: #1a1a1a;
    --dark-bg-color: #1a1a1a;
    --dark-fg-color: #fff;
    --lines-opacity: 0.3;
    --purple: #772df7;
    --pink: #f15d85;
    --orange: #f79926;
    --green: #65c06f;
    --blue: #6f92e2;
    --name-gradient: linear-gradient(45deg, var(--blue) 30%, var(--pink), var(--purple) 80%);
    --acc-gradient: linear-gradient(45deg, var(--orange) 30%, var(--pink), var(--purple) 70%);
    --acc-gradient-anim: text-shine 10s infinite ease-in-out;
}
@keyframes text-shine{
    0%, 100%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
}
section{
    height: 100dvh;
    color: var(--fg-color);
}
.body-container{
    background-color: var(--bg-color);
    color: var(--fg-color);
    transition: all 1s ease-in-out;
}
.lines .left{
    left: 2%;
    background: var(--acc-gradient);
    animation: var(--acc-gradient-anim);
    background-size: 1000%;
}
.lines .right{
    right: 2%;
    background: var(--acc-gradient);
    animation: var(--acc-gradient-anim);
    background-size: 1000%;
}
.lines div{
    position: fixed;
    top: 20dvh;
    bottom: 20dvh;
    width: 3px;
    opacity: var(--lines-opacity);
    transition: all 0.5s ease-in-out;
}
.navbar a, .navbar #change-icon{
    text-decoration: none;
    color: var(--fg-color);
    font-size: 170%;
    font-weight: 550;
    margin-left: 2rem;
    transition: 0.3s;
}
#change-icon{
    cursor: pointer;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #ffffff1a;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    top: 0;
    left: 0;
    z-index: 10;
}
.Name{
    background: var(--name-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 250%;
    -webkit-text-fill-color: transparent;
    animation: var(--acc-gradient-anim);
    font-size: 225%;
    font-weight: 500;
}
.Hello{
    transition: opacity 0.5s ease-in-out;
  }
  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    transform: translateX(5px);
    transform: translateY(50px);
  }
    .login{
    margin: 20px auto;
    padding: 40px 50px;
    width: 340px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 20px 20px 20px #00b3ff86;
  }
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
  }
  .login input[type=text], .login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}
.login input[type=text]:hover {
    border-color: #00cff4;
    outline: none;
    transition: all .2s ease-in-out;
  } 

  .login input[type=password]:hover{
    border-color: #00cff4;
    outline: none;
    transition: all .2s ease-in-out;
  }
  
.login input[type=submit] {
    border: none;
    background: #EF5350;
    color: white;
    font-weight: bold;  
    transition: 0.2s;
    margin: 20px 0px;
  }
  
  .login input[type=submit]:hover {
    background: #dd04fe;  
  }
  .login h2{
    margin: 20px 0 0; 
    color: #ee1fbe;
    font-size: 28px;
  }

.login h2, .login p {
    text-align: center;    
  }
  .login p{
    margin: 20px;
    color: black;
    font-size: 18px;
  }

  .about{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    text-align: center;
  }
  .about .name{
    font-size: 400%;
    transition: none;
  }
  .colored-name{
    background: var(--acc-gradient);
    background-size: 250%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(--acc-gradient-anim);
}
.myself{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
